$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
    height: 100%;
    background: linear-gradient(90deg, #e0e1dc 50%, #f7f960 50%);
}


#header {
  font-size: 1.8em;
  font-weight: lighter;
  background: #ffffff;
  margin-top: 0.5%;
}

// #barcode {
//   display: initial;
// }

.header {
 font-weight: 400;
 font-size: 2em;
}

// body,
// html {
//   height: 100%;
//   background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4n_Ch8s0eimm1i8wy/videoblocks-warehouse-area-motion-graphics-hologram-element-with-statistics-camera-movement-along-the-warehouse-with-boxes-on-a-blurred-background_hpjflkzne_thumbnail-full01.png");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center;
// }

.modal-dialog {
  width: 100%;
}

div#table {
  display: table;
  width: 100%;
  table-layout: fixed;
  // font-size: 1.3vmax;
  text-align: center;
}

div.tr {
  display: table-row;
  padding: 0.5em;
}

span.th {
  font-weight: bold;
  border: 1px solid black;
  display: table-cell;
  padding: 1%;
  // box-sizing: border-box;
  // overflow-wrap: break-word;
  word-wrap: break-word;
}

span.td {
  border: 1px solid black;
  display: table-cell;
  padding: 0.5em;
  // width: 10%;
  overflow-wrap: break-word;
}

#wide1,
#wide2,
#wide3 {
  width: 20%;
}

#narrow1,
#narrow2,
#narrow3 {
  min-width: 7%;
  // overflow-wrap: normal;
  word-wrap: break-word;
}

span#pic {
  width: 20%;
}

button {
  background-color: #ccc;
  border: none;
  color: #1c1c1b;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2%;
}

input[type=text] {
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type=password] {
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type=email] {
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#image {
  margin-top: 1%;
  margin-bottom: 1%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form1,
.form2 {
  background: #ffffff;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 5px;
  padding: 1%;
}

.user-dash {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // height: 10%;
  background-color: #e0e1dc;
  padding: 1%;
}

.centered {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-container {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  padding: 2%;
  box-sizing: border-box;
  background: #ffffff;
  margin: 2%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

#logoutbutton {
  // background-color: #1c1c1b;
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2% 2% 2% auto;
}

#pw-change-submit {
  background-color: #1c1c1b;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline;
  margin: 2% auto 2% 2%;
}

legend {
  color: white;
  text-align: center;
  font-weight: 200;
  background-color: #1c1c1b;
  padding: 2%;
}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	// @media
	//   only screen
  //   and (max-width: 760px), (min-device-width: 768px)
  //   and (max-device-width: 1024px)  {
  //
	// 	/* Force table to not be like tables anymore */
	// 	div#table,
  //   span.th,
  //   span.td,
  //   div.tr {
	// 		display: block;
	// 	}

		/* Hide table headers (but not display: none;, for accessibility) */
		// thead tr {
		// 	position: absolute;
		// 	top: -9999px;
		// 	left: -9999px;
		// }

    // div.tr {
    //   margin: 0 0 1rem 0;
    // }
    //
    // // div.tr:nth-child(odd) {
    // //   background: #ccc;
    // // }
    //
		// span.td {
		// 	/* Behave  like a "row" */
		// 	border: none;
		// 	border-bottom: 1px solid #eee;
		// 	position: relative;
		// 	padding-left: 50%;
		// }

		// span.td:before {
		// 	/* Now like a table header */
		// 	position: absolute;
		// 	/* Top/left values mimic padding */
		// 	top: 0;
		// 	left: 6px;
		// 	width: 45%;
		// 	padding-right: 10px;
		// 	white-space: nowrap;
		// }
